@font-face {
    font-family: 'inter';
    src: url('./assets/fonts/static/Inter-Regular.ttf');
}

body{
    background: #141414;
}

.container {
    background: #1f1f1f;
    border-radius: 20px;
    width: 350px;
    height: 750px;
    margin: 150px auto;
}

.content {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 90%;
    margin: 50px auto;
    padding: 20px;
}

.avatar {
    background: url('./assets/images/avatar-jessica.jpeg');
    background-size: cover;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 20px;
}

.info-sect {
    font-family: 'inter', sans-serif;
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
}

#name {
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 5px;
}

#location {
    font-size: 14px;
    font-weight: 600;
    color: #c5f82a;
    margin-top: 10px;
    margin-bottom: 20px;
}

#trabajo {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}

.btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #333333;
    width: 280px;
    padding: 15px;
    margin: 15px auto;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    text-align: center;
    font-family: 'inter', sans-serif;
    font-weight: 600;
}

.btns:hover {
    background: #c5f82a;
    color: black;
    cursor: pointer;
}